body {
    background-color: rgb(245,218,223);
}
h1 {
    background-color:rgb(255,188,217);
    color: rgb(255,0,127);
}
h2 {
    background-color:rgb(255,188,217);
    color: rgb(231,84,128);
}
